gunicorn
pip
pandas
numpy
requests
dash
dash_renderer
dash-html-components
dash-core-components
plotly.express
plotly.graph_objects
plotly.io
plotly.figure_factory
matplotlib.font_manager
matplotlib.pyplot
seaborn
dash_bootstrap_components
