gunicorn
plotly.express
plotly.graph_objects
plotly.express
plotly.io
plotly.figure_factory
matplotlib.font_manager
matplotlib.pyplot
seaborn
dash_bootstrap_components
dash
requests
dash_renderer
dash-html-components
dash-core-components
pandas
numpy

